include layout.pug

div.center
    img.center(src='/images/logo_black.png', width='300px')
h3.center お探しのページは見つかりませんでした。
p.center 入力したアドレスが間違っているか、ページが移動した可能性があります。
p.center 
    a(href='/login') トップページへ戻る
