nav.header ここはheader.pugです
  ul.right.hide-on-med-and-down
  // Dropdown Trigger
  li
    a.dropdown-trigger(href='#!' data-target='dropdown1')
      | Dropdown
      i.material-icons.right arrow_drop_down