include layout.pug

head
  title= title
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  style.
    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }
    main {
    flex: 1 0 auto;
    }
    body {
    background: #fff;
    }
    .input-field input[type=date]:focus+label,
    .input-field input[type=text]:focus+label,
    .input-field input[type=email]:focus+label,
    .input-field input[type=password]:focus+label {
    color: #e91e63;
    }
    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
    }
.section
main
  center
    .section
    h5.indigo-text 登録はこちら
    .section
    .container
      .z-depth-1.grey.lighten-4.row(style='display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
        form.col.s12(method='post')
          .row
            .col.s12
          .row
            .input-field.col.s12
              input#id.validate(type='text' name='login_id',required)
              label(for='id') Enter your id
          .row
            .input-field.col.s12
              input#name.validate(type='text' name='user_name',required)
              label(for='name') Enter your name

          .row
            .input-field.col.s12
              input#fb_url.validate(type='url' name='fb_url',required)
              label(for='fb_url') 自分のfacebookのURL
            label(style='float: right;color:#F5F5F5')
                b Forgot Password?
          br
          center
            .row
              button.col.s12.btn.btn-large.waves-effect.indigo(type='submit' name='btn_login') 登録する
    a(href='/login') すでにIDをお持ちの方はこちら
  .section
  .section
