ul#dropdown1.dropdown-content
  li
    a(href='/next') 診断結果
  li
    a(href='/logout') ログアウト
nav.nav-wrapper.indigo.header
    a.brand-logo(href='#!') Logo
    ul.right.hide-on-med-and-down
      li
        a.dropdown-trigger(href='#!' data-target='dropdown1')
          | 診断結果
          i.material-icons.right arrow_drop_down


