ul#dropdown1.dropdown-content
  li
    a(href='/next') 結果を見る
  li
    a(href='/logout') ログアウト
nav.nav-wrapper.indigo.header
    a.brand-logo(href='#!') 
      img(src="/images/logo.png", width='150px', style='margin-top:3px;margin-left:20px;')
    ul.right.hide-on-med-and-down
      li
        a.dropdown-trigger(href='#!' data-target='dropdown1')
          | 結果を見る
          i.material-icons.right arrow_drop_down


